
h1 {
  font-family: sans-serif;
}

img {
  border: 2px solid #373737;
  border-radius: 40px;
}

img:hover {
  transform: rotate(12deg);
}

li {
  text-align: justify;
  font-family: sans-serif;
}

.button {
  border: solid;
  border-color: darkblue;
  padding: 5px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  font-size: 15px;
  margin: 1px 1px;
  border-radius: 10px;
  background-color: rgba(90, 203, 255, 0.979);
  border: none;
  color: black;
  padding: 6px 25px;
  cursor: pointer;
  font-size: 20px;
}

.btn {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 12px 30px;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}

.btn:hover {
  background-color: RoyalBlue;
  text-decoration: underline solid #0000A0;
}

.button:hover {
  text-decoration: underline solid #0000A0;
  transform: scaleX(1.3) scaleY(1.3) rotate(5deg);
  background-color: rgb(255, 187, 0);
  transition: all 1s
}

.button:not(:hover) {
  transition: all 1s
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.underline {
  text-decoration: underline solid #000000;
}


.navi {
  background-color: #f3fc44;
  border: 3px solid #000;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 27px;

}

.ingredients {
  animation: textAnim 1s ease 0s 1 normal forwards;
}

h3 {
  animation: textAnim 1s ease 0s 1 normal forwards;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

.textmove {
  animation: textAnim 1s ease 0s 1 normal forwards;
}

.audio {

  animation: textAnim 1s ease 0s 1 normal forwards;

}

img:hover {
  transform: rotate(15deg) scaleX(1.8) scaleY(1.8) translateX(150px) translateY(-70px);
  transition: all 1s;
}

img:not(:hover) {
  transition: all 1s
}

@keyframes textAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pngAnim {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  background: linear-gradient(90deg, #00ff11 21%, #146a00 87%);
}