.contact {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


li {
  text-align: justify;
}

.button {
  border: solid;
  border-color: darkblue;
  padding: 5px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  font-size: 15px;
  margin: 1px 1px;
  border-radius: 10px;
  background-color: rgba(90, 203, 255, 0.979);
  border: none;
  color: black;
  padding: 6px 25px;
  cursor: pointer;
  font-size: 20px;
}

.btn {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 12px 30px;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}

.btn:hover {
  background-color: RoyalBlue;
  text-decoration: underline solid #0000A0;
}

.button:hover {
  text-decoration: underline solid #0000A0;
  transform: scaleX(1.3) scaleY(1.3) rotate(5deg);
  background-color: rgb(255, 187, 0);
  transition: all 1s
}

.button:not(:hover) {
  transition: all 1s
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.underline {
  text-decoration: underline solid #000000;
}


.navi {
  background-color: #f3fc44;
  border: 3px solid #000;
  cursor: pointer;
  border-radius: 27px;

}